body {

  font-family: Helvetica, Arial, sans-serif;

  background: #bfcfb2;

  color: #626b79;

}

.topHalf{

  background: whitesmoke;

  padding: 10px;

  border-radius: 20px;

}

#propImg{

  background: whitesmoke;

  margin: auto;

  /*border: 2px solid #42445A;*/

 

  width: auto;

  max-width: 20rem;

  height: 18.75rem;

  overflow:hidden;

  

}

#propImg img{

    position: absolute;

    overflow: hidden;

}

#propHead{

  padding: 3px;

  /*margin-left: 20px;*/

  font-size: 3em;

  color: #1D1D1D;

  border-bottom: 6px solid white;

  /*padding-left: 30px;*/

}

#propDesc{

  padding: 20px;

  margin-top: 10px;

  margin-bottom: 10px;

  font-size: 18px;

  color: #1F1F1F;

  line-height: 24px;

  background: white;

  width: 90%;

  margin: auto;

  margin-top: 20px;

}

#propStatus{

  color: black;

  padding-left: 30px;

  padding-bottom: 30px;

  font-size: 21px;

}

#propCost{

  color: #00DC0D;

  padding: 17px;

  font-size: 21px;

  font-weight: 400;

  font-family: 'nunito';

  text-align: center;

  margin: auto;

  background: white;

  border-radius: 1em;

  border-top: 4px solid white;

}

#datepicker{

  margin: auto;

  width: 100%;

  height: 3em;

  bottom: 1;

  border: none;

  border-radius: 2em;

  text-align: center;

  background: #ede5d0;

  

}

.propBook{

  width: 50%;

  padding: 18px;

  display: grid;

  align-self: center;

  align-items: center;

  background: whitesmoke;

  border-radius: 2em;

  box-shadow: 0px 2px 6px #ede5d0;

  font-size: 18px;

}

#dateBtn{

  background: #393939;

  color: white;

  padding: 10px;

  border: none;

  border-radius: 2em;

  width: auto;

}

/*Multiple images */

  .imageContainer {

    padding-top: 10px;

    height: auto;

    width:96%;

    margin: auto;

    /*border:2px solid Forestgreen;*/

    background: #CBCBCB78;

    text-align:left;

    white-space: nowrap;

    overflow-y: scroll;

    max-height: 30em;

}

.imageContainer img {

    height: auto;

    margin:2px;

    height: auto;

    max-height: 6em;

    display: inline-block;

    overflow:hidden;

    margin-left:8px;

}

.intro {

  text-align: center;

  margin: auto;

  color: #232323;

  padding: 1em;

  /*text-shadow: 0px 1px 1px #c38102;*/

  font-weight: 300;

  font-family: 'Lato', sans-serif;

  background: white;

  width: 90%;

}

.intro h3{

  text-decoration: overline;

  color: #3F414E;

}

.intro b{

  color: navy;

  font-weight: 800;

  text-decoration: underline;

}

