@charset "UTF-8";

html,

body {

  height: 100%;

  width: 100%;

}

a {

  text-decoration: none;

  color: inherit;

}

ul {

  list-style-type: disc;

  -webkit-margin-before: 0;

  -webkit-margin-after: 0;

  -webkit-margin-start: 0;

  -webkit-margin-end: 0;

  -webkit-padding-start: 0;

}

body {

  font-family: Helvetica, Arial, sans-serif;

  background: #bfcfb2;

  font-size: 14px;

  /*Trial*/

}

.intro {

  text-align: center;

  margin: auto;

  color: #232323;

  padding: 1em;

  /*text-shadow: 0px 1px 1px #c38102;*/

  font-weight: 300;

  font-family: 'Lato', sans-serif;

  background: white;

}

.intro h3{

  text-decoration: overline;

  color: #3F414E;

}

.intro b{

  color: navy;

  font-weight: 800;

  text-decoration: underline;

}

.hero {

  justify-content: space-between;

  align-items: center;

  display: flex;

  max-width: 1000px;

  margin: auto;

  padding: 1em 0;

  /*

  height: 600px;

  */

  border-bottom: 1px solid white;

  flex-wrap: wrap;

 /* border: 1px solid hotpink;*/

  

}

.hero .l-card {

  margin: 0;

}

.title-container {

  max-width: 600px;

}

.title-container .jumbo-title {

  color: black;

  font-family: 'Lato', sans-serif;

  font-size: 120px;

  /*text-shadow: 0px 2px 2px #c38102;*/

  margin: 0;

  /*border: 1px solid violet;*/

}

.title-container .jumbo-content {

  width: 70%;

  font-size: 24px;

  line-height: 1.4;

  font-weight: 400;

  /*border: 1px solid indigo;*/

  color: #CFCFCF;

  /*text-shadow: 0px 2px 2px #ec9c02;*/

}

.tagLine{

  font-family: 'Dancing Script', cursive;

  padding: 6px;

  margin: 3px;

  color: #CFCFCF;

  /*border: 1px solid blue;*/

}

.l-card {

  background: #FEFEFE;

  max-width: 350px;

  margin-left: 2px;

  margin-right: 2px;

  width: 100%;

  padding: 20px 0 30px;

  text-align: center;

  border-radius: 20px;

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  margin-left: 20px;

  /*border: 1px solid green;*/

  

  

}

.l-card .l-title-container .location-title {

  font-size: 24px;

  color: #1D1D1D;

  margin: 0;

  padding: 0px 0px 30px 0px;

  margin: auto;

  font-family: 'Nunito', sans-serif;

  font-weight: 500;

}

.location-subtitle{

   text-overflow: ellipsis;

   overflow: hidden;

   width: 30px;

   height: 1.2em;

   white-space: nowrap;

  /* border: 1px solid cyan;*/

}

.l-card .l-icon-container {

  padding: 12px 0 15px;

  /*border: 1px solid yellow;*/

}

.l-card .l-icon-container .location-icon {

  border-radius: 20px;

}

.l-card .l-description-container {

  color: #1A1A1A;

  font-size: 18px;

  position: relative;

  font-family: 'Nunito', sans-serif;

}

.l-card .l-description-container .l-distance {

  display: block;

}

.l-card .l-description-container::before {

  content: "";

  position: absolute;

  font-family: "Ionicons";

  font-size: 26px;

  top: -40px;

  transform: translateX(-50%);

  color: #363398;

  background: #33FFAF;

  display: none;

}

.card-list {

  

  display: flex;

  width: 100%;

  max-width: 1000px;

  margin: auto;

  padding: 10px 0 1em;

  flex-wrap: wrap;

  align-items: center;

  justify-content: space-between;

}

.card-list .l-card {

  margin: 40px 0;

  display: inline-block;

  text-align: center;

  float: none;

}

.button {

  background: none;

  border: 0;

  border-radius: 2em;

  /*text-transform: uppercase;*/

  padding: 15px;

  letter-spacing: 0.1em;

  font-weight: 900;

  font: inherit;

  cursor: pointer;

  /*border: 1px solid #ede5d0;*/

  margin: 0;

  font-family: 'Nunito', sans-serif;

}

.button:hover {

  box-shadow: 0px 2px 6px #ede5d0;

  opacity: 0.9;

}

.button.cta {

  background: #1A1A1A;

  color: white;

  padding: 15px 60px;

}

.search {

  margin: auto 1em;

  font-size: 1.3em;

  color: white;

}

@media screen and (max-width: 915px) {

  .hero {

    border: 0;

    margin-bottom: 40px;

  }

  .title-container {

    text-align: center;

    margin: auto;

    padding-bottom: 1em;

    border-bottom: 1px solid white;

  }

  .title-container .jumbo-content {

    width: 100%;

    color: white;

  }

  .title-container .search {

    display: none;

  }

  .hero .l-card, .content .card-list .l-card {

    margin: 30px auto;

  }

}

@media screen and (max-width: 600px) {

  .title-container .jumbo-title {

    font-size: 40px;

  }

}

#topImg{

  width: 200px;

  height: 200px;

  margin: auto;

  fill: white;

  animation-name: floating;

  animation-duration: 3s;

  animation-iteration-count: infinite;

  animation-timing-function: ease-in-out;

  margin-left: 30px;

}

 

@keyframes floating {

    0% { transform: translate(0,  0px); }

    50%  { transform: translate( 20px, 0px); }

    100%   { transform: translate(0px, -0px); }   

}

@media only screen and (max-width: 600px) {

  #topImg {

    display: none;

  }

}

.displayImg{

  width: 24em;

  height: 24em;

  box-shadow: 0px 2px 6px #656565;

  border-radius: 2em;

  }

  

#titleSpan{

  color: ivory;

}

/*

NEXT SOURCE

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {

  --primary-color: #955df4;

  --secondary-color: #ff816c;

}

body {

  

  font-family: 'Roboto', sans-serif;

  font-size: 12px;

}

.container {

  max-width: 50rem;

  margin: 2rem auto;

  padding-bottom: 2rem;

  -webkit-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);

  -moz-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);

  box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);

}

header {

  width: 100%;

  background: var(--primary-color);

  padding: 1rem;

}

header h3 {

  color: #fff;

  margin-left: 1.5rem;

}

.table-users {

  width: 90%;

  margin: 2rem auto;

  border-collapse: collapse;

}

.table-users th, .table-users td {

  text-align: left;

  border-top: 1px solid #ddd;

  border-bottom: 1px solid #ddd;

  padding: .5rem;

}

.table-users th {

  background: #fafafa;

  padding: 1rem auto;

}

.btn {

  background: transparent;

  width: 5rem;

  height: 2rem;

  border-radius: 1rem;

  cursor: pointer;

  outline: none;

  transition: all .5s ease;

}

.btn-edit {

  color: var(--primary-color);

  border: 1px solid var(--primary-color);

  width: 3rem;

  height: 1.2rem;

}

.btn-edit:hover {

  background: var(--primary-color);

  color: #fff;

}

.btn-delete {

  color: var(--secondary-color);

  border: 1px solid var(--secondary-color);

  width: 3.6rem;

  height: 1.2rem;

}

.btn-delete:hover {

  background: var(--secondary-color);

  color: #fff;

}

.btn-date {

  color: #7984FF;

  border: 1px solid var(--secondary-color);

  width: 3.6rem;

  height: 1.2rem;

}

.btn-date:hover {

  background: #5A66E4;

  color: #fff;

}

.table-wrapper {

  text-align: center;

}

.btn-add {

  width: 6rem;

  height: 2rem;

  background: var(--primary-color);

  border: none;

  color: #fff;

}

/* Modal */

.modal-wrapper {

  position: fixed;

  width: 100%;

  height: 100%;

  left: 0;

  top: 0;

  background: #24232354;

  display: none;

}

.dateModal-wrapper {

  position: fixed;

  width: 100%;

  height: 100%;

  left: 0;

  top: 0;

  background: #24232354;

  display: none;

}

.modal {

  position: relative;

  background: #fff;

  text-align: center;

  width: 25rem;

  margin: 5rem auto;

  -webkit-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);

  -moz-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);

  box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);

  animation-name: animatetop;

  animation-duration: .4s;

}

@keyframes animatetop {

  from {

    top: -300px; opacity: 0;

  }

  to {

    top: 0; opacity: 1;

  }

}

.modal-show {

  display: block;

}

.modal-header {

  margin-bottom: 1rem;

  background: #f8fafb;

  padding: 2rem;

}

.modal-body {

  padding: 2rem;

}

.btn-modal {

  background: var(--primary-color);

  border: none;

  color: #fff;

  width: 9rem;

}

input {

  width: 100%;

  height: 2.2rem;

  margin-bottom: 1rem;

  text-indent: .5rem;

  outline: none;

}

#output{

  width: 160px;

  height: 160px;

}

#myProgress {

  width: 100%;

  background-color: grey;

}

#myBar {

  width: 0%;

  height: 30px;

  background-color: green;

  transition: width 5s linear; /* note this line */

}

/* Navigation */

#navbar {

  background-color: #525252C7; /* Black background color */

  position: fixed; /* Make it stick/fixed */

  top: -50px; /* Hide the navbar 50 px outside of the top view */

  width: 100%; /* Full width */

  transition: top 0.3s; /* Transition effect when sliding down (and up) */

  border-top: 3px solid rgba(0, 131, 0, 0.7);

  border-right: 3px solid rgba(0, 131, 0, 0.7);

}

/* Style the navbar links */

#navbar a {

  float: right;

  display: block;

  color: white;

  text-align: center;

  padding: 1px;

  text-decoration: none;

}

#navbar a:hover {

  background-color: #ddd;

  color: forestgreen;

}

#mainTitle{

  float: left;

  display: block;

  font-family: 'nunito', sans-serif;

  font-size: 18px;

}

